:local .textarea {
	composes: border from '../common.css';
	margin: 0px 2px;
	box-sizing: border-box;
	display: inline-block;
	resize: none;
	line-height: normal;
	overflow: hidden;
}

:local .transparent {
	background: rgba(255, 255, 255, 0);
}

:local .blocker {
	background-color: rgba(0,0,0,0);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}